@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
  font-family: 'InvisibleSans';
  src: url('./fonts/Invisible-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TangoSans';
  src: url('./fonts/TangoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TangoSansBold';
  src: url('./fonts/TangoSans_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TangoSansItalic';
  src: url('./fonts/TangoSans_Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TangoSansBoldItalic';
  src: url('./fonts/TangoSans_BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Inter', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
